#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grupos-container {
  text-align: center;
  padding: 40px 20px;
}




.grupos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.grupo-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  max-width: 320px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.grupo-card:hover {
  transform: scale(1.03);
}

.grupo-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.grupo-card h2 {
  color: #007bff;
  margin: 15px 0 10px;
}

.grupo-card p {
  color: #333;
  font-size: 15px;
  margin-bottom: 15px;
}

.botao {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #007bff;
}



